html,body,#app{
    background-color:#fff;
    height:100%;
    height:100%;
    margin:0;
    padding:0;
}


.bread{
    margin-bottom:15px;
}

.pagination{
    text-align: center;
}

.table-column{
    text-align: center;
}

.el-pagination{
    left:50%;
}
